body {
	margin: 0px;
    padding: 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    margin-top: 20px;
}

.card-title {
    color: white;
}